table{
    border: 1px red;
    border-collapse: collapse;
}

td, th{
    border: 1px solid red;
    text-align: center !important;
}
table tr td{
    word-break: break-all;
}

.WH {
    height: 50px;
    width: 150px;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.field {clear:both; text-align:right; line-height:25px;}
.main {float:left}
label {float:left; padding-right:10px;}
input{width: 325px}
input[type=radio] {
    width: auto;
    left: auto;
}
textarea{width: 325px}
.forRadio{ float: bottom}
